#edit_button {
  float: right;
}

.login{
  float: left
}

.card_title{
  color: white;
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold
}

.avg_score{
  color: yellow;
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 1rem
}

#user-page-header{
  color: white;
  text-align: center
}

.tr_header{
  color: white;
  font-weight: bold
}

.table_cell{
  color: white;
  align-self: center
}

.movie-card{
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.label{
  color: white
}

.my-modal .modal-content{
  background-color: #6c757d;
}

#movie-search-form{
  margin-left: 25%;
  margin-right:25%;
  margin-top: .5rem;
  margin-bottom: .5rem;
  width: 50%;
}

#search-div{
  text-align: center
}

#sorry-msg{
  color: white;
}

.col-sm-3{
  max-width: none;
}
