#edit_button {
  float: right;
}

.login{
  float: left
}

.avg_score{
  color: gold;
  text-align: left;
}

#user-page-header{
  color: white;
  text-align: center
}

.tr_header{
  color: white;
  font-weight: bold
}

.table_cell{
  color: white
}
